{% load staticfiles %}
<html>
<head>
	<title>Hello</title>
	<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
	<link rel="stylesheet" href="{% static 'css/blogum.css' %}">
	<link href="https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica|IM+Fell+English+SC" rel="stylesheet">
</head>
<body>
<div id="wrapper">
		<div class="high-header">
			<div class="not">Scale <div class="and">&</div> Bone</div>
			<ul class="nav-ul">
				<li><a href="#" class="nav">Home</a></li>
				<li><a href="#" class="nav">Author</a></li>
				<li><a href="#" class="nav">Archive</a></li>
				<li><a href="#" class="nav">Zero</a></li>
				<li><a href="#" class="nav">A Perfect Circle</a></li>
			</ul>
		</div>

	{% block content %}
	{% endblock %}

	</div>
</body>
</html>

