{% extends 'blogum/base.html' %}

{% block content %}
{% for post in posters %}
    <div class="post">
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <p class="category">{{ post.category }}</p>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if posters.has_previous %}
            <a href="?page={{ posters.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posters.number }} of {{ posters.paginator.num_pages }}.
        </span>

        {% if posters.has_next %}
            <a href="?page={{ posters.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
