{% extends 'blogum/base.html' %}

{% with detail="psdetail" %}
{% block content %}
	<div class="post postdetail">
		{% if post.published_date %}
			<div class="content">
				{{ post.text|linebreaksbr }}
			</div>
			<div class="date">
				<p>{{ post.published_date }}</p> 
				<p>{{ post.category }}</p>
			</div>
		{% endif %}
		{% if user.is_authenticated %}
			<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
		{% endif %}
	</div>
{% endblock %}
{% endwith %}